@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800,900');

body,
html {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     overflow-x: hidden;
     background: linear-gradient(180deg, rgb(32, 44, 57) 0%, rgba(0, 0, 0, 1) 100%);
     background-attachment: fixed;
     color: beige;
     font-family: "Lato", sans-serif;
     user-select: none;
}

/* Estilos do loader */
.carregando {
     color: rgb(184, 173, 31);
     animation: mover 4s ease-in-out infinite alternate;
     position: absolute;
     bottom: 16px;
     right: 0;
     font-size: 24px;
     font-family: "Orbitron", sans-serif;

}


img {
     pointer-events: none;
}

a {
     text-decoration: none;
}

a:visited,
a:active,
a:hover {
     color: #d2e6ee;
}

ul,
ol {
     list-style: none;
     padding: 0;
     margin: 0;
}

.logogithub {
     z-index: 999;
     position: fixed;
     bottom: 0px;
     left: 10px;
     cursor: pointer;
     animation: anima_logogithub 2s ease-in infinite;
}

.logogithub img {
     min-width: 40px;
     max-width: 40px;
}

.img-astronauta {
     height: auto;
     transition: transform 0.5s linear;
     filter: drop-shadow(0 0 8px rgba(81, 77, 90, 0.8));
}
