@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,800,900');

body,
html {
     margin: 0;
     padding: 0;
     overflow-x: hidden;
     overflow-y: hidden;
     box-sizing: border-box;
     background: linear-gradient(180deg, rgb(32, 44, 57) 0%, rgba(0, 0, 0, 1) 100%);
     background-attachment: fixed;
     color: beige;
     font-family: "Lato", sans-serif;
     user-select: none;
}

img {
     pointer-events: none;
}

a {
     text-decoration: none;
}

a:visited, a:active, a:hover {
     color: #10232b;
}

ul,
ol {
     list-style: none;
     padding: 0;
     margin: 0;
}


.logogithub,
header,
section,
footer {
     opacity: 0;
     transform: translateY(-20px);
     transition: opacity 0.5s ease, transform 0.5s ease;
}

.logogithub.show,
header.show,
section.show,
footer.show {
     opacity: 1;
     transform: translateY(0);
}

header {
     z-index: 100;
     width: 100vw;
     height: 50px;
     position: fixed;
     top: 30px;
     display: flex;
     justify-content: center;
     align-items: center;
}


footer {
     z-index: 10;
     position: absolute;
     bottom: 0;
     width: 100vw;
     background-color: #10232b;
     text-align: center;
}

svg {
     opacity: 0;
}

svg.show {
     opacity: 1;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-size: 92px;
     stroke-dasharray: 500;
     stroke-dashoffset: 500;
     animation: dash 2s linear forwards, filling 3s ease-in forwards;
}

svg.some {
     opacity: 1;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-size: 92px;
     stroke-dasharray: 500;
     stroke-dashoffset: 500;
     animation: some 0.5s linear forwards;
}

.logo {
     background-color: #f6f6f6;
     color: #10232b;
     font-family: Orbitron, "sans-serif";
     font-weight: 900;
     padding: 5px;
}

.barra_logo {
     color: #2c84a7;
     animation: anima_barra_logo 1s infinite;
}

.logogithub {
     z-index: 999;
     position: fixed;
     bottom: 0px;
     left: 10px;
     cursor: pointer;
     animation: anima_logogithub 2s ease-in infinite;
}

.logogithub img {
     min-width: 40px;
     max-width: 40px;
}

.img-astronauta {
     height: auto;
     transition: transform 0.5s linear;
     filter: drop-shadow(0 0 8px rgba(81, 77, 90, 0.8));
}

.section-esq {
     max-width: 500px;
     color: #bfcbd1;
}

.section-esq h1 {
     font-size: 40px;
     font-weight: 900;
}

.section-esq h3 {
     font-size: 32px;
     font-weight: 800;
     color: #2c84a7;
     transition: transform 0.5s linear;
     filter: drop-shadow(0 0 8px rgba(81, 77, 90, 0.8));
}

.section-esq p {
     font-size: 20px;
     margin: 20px 0 40px;
     line-height: 1.5;
     font-style: italic;
}

.section-dir {
     display: flex;
     flex-direction: row;
     justify-content: center;
}

.horizontal-container {
     display: flex;
    height: 100vh;
    width: max-content;
    transition: transform 0.8s ease-in-out;
}

.panel {
    min-width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
    box-sizing: border-box;
    flex-wrap: wrap-reverse;
    flex-direction: row;
}

/* Só pra visualização */
.panel:nth-child(1) { color: white; }
.panel:nth-child(2) { background: #222; color: white; }

section{
z-index: 1;
}