.carregando {
    color: rgb(184, 173, 31);
    animation: mover 4s ease-in-out infinite alternate;
    position: absolute;
    bottom: 16px;
    right: 0;
    font-size: 24px;
    font-family: "Orbitron", sans-serif;

}
